extends ./layout/index

block contenido 
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen Nosotros", class='img-fluid')
            .col-md-7 
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia aperiam sed neque esse facilis, molestiae quaerat! Blanditiis, veniam.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia aperiam sed neque esse facilis, molestiae quaerat! Blanditiis, veniam. Beatae, dignissimos dolorem! Temporibus, consequuntur quae? Voluptates doloribus eligendi dolorem consequuntur eveniet.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia aperiam sed neque esse facilis, molestiae quaerat! Blanditiis, veniam. Beatae, dignissimos dolorem! Temporibus, consequuntur quae? Voluptates doloribus eligendi dolorem consequuntur eveniet.
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam at voluptatem atque voluptate odit eum cumque vero? Ipsam enim, eaque rerum maiores ad sapiente numquam, consequuntur quaerat quibusdam iste obcaecati.
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam at voluptatem atque voluptate odit eum cumque vero? Ipsam enim, eaque rerum maiores ad sapiente numquam, consequuntur quaerat quibusdam iste obcaecati.
                .col-md-4
                    img(src="img/icono_precio.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios 
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam at voluptatem atque voluptate odit eum cumque vero? Ipsam enim, eaque rerum maiores ad sapiente numquam, consequuntur quaerat quibusdam iste obcaecati.