footer.container.pt-5.mt-5
    .row.mt-5.pt-5
        .col-md-6.mt-5.py-5 
             ul.nav.justify-content-center.justify-content-md-end
                li.nav-item
                    a.nav-link(href='/nosotros') Nosotros
                li.nav-item
                    a.nav-link(href='/viajes') Viajes
                li.nav-item
                    a.nav-link(href='/testimoniales') Testimoniales
        .col.mt-5.pt-5
            p.copyright.text-center
                | Todos los derechos reservados 
                span= actualYear 