header 
    .navegacion
        .container 
            .row.justify-content-center.justify-content-md-between.alig-items-center.py-4
                .col-md-4.col-6 
                    a(href="/") 
                        img(src="/img/logo.svg", alt="Sitio logo")
                .col-md-8
                    ul.nav.justify-content-center.justify-content-md-end.mt-5
                        li.nav-item
                            a.nav-link(href='/nosotros') Nosotros
                        li.nav-item
                            a.nav-link(href='viajes') Viajes
                        li.nav-item
                            a.nav-link(href='testimoniales') Testimoniales